{% extends 'auth/base.html' %}

{% set Title = _('Reset Password Page') %}
{% set auth_type = _('Reset Password') %}

{% block head %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock %}

{% block container %}
    <form action="{{ url_for('restore_next_post') }}" method="post">
        {{ form.csrf_token }}
        {{ form.restore_ident }}
        <div class="auth-pre-container-data">
            <div class="auth-container-data">
                <input id="password" type="password" name="password"
                       class="auth-container-data-input"
                       autocomplete="current-password" placeholder="Password" value="{{form.password.data}}">
                <span class="auth-container-data-error">
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                    {% endif %}
                </span>
                <span class="auth-password-eye">
                    <img alt="password-eye" src="{{ url_for('static', filename='img/eye-closed.svg') }}">
                </span>
            </div>
        </div>
        <div class="auth-pre-container-data">
            <div class="auth-container-data">
                <input id="password2" type="password" name="password2"
                       class="auth-container-data-input"
                       autocomplete="current-password" placeholder="Confirm Password" value="{{form.password2.data}}">
                <span class="auth-container-data-error">
                    {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        {{ error }}
                    {% endfor %}
                    {% endif %}
                </span>
                <span class="auth-password-eye">
                    <img alt="password-eye" src="{{ url_for('static', filename='img/eye-closed.svg') }}">
                </span>
            </div>
        </div>
        <div class="auth-submit-button">
            <button type="submit" class="auth-button auth-button-2">{{_('Reset')}}</button>
        </div>
        <div class="restore-password-container">
            <div class="restore-password">
                <a class="restore-password-link" href="/auth/login/">{{_('Don`t need to reset? Log in!')}}</a>
            </div>
        </div>
    </form>
{% endblock %}