<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/window.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/window_builder.js') }}"></script>
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="header_item">
            <div class="header_item-logo" onclick="location.href = '/'">
                <a class="top_home_link" href="/" aria-label="Main page">
                    <img class="logotype" src="{{ url_for('static', filename='img/logo.svg') }}">
                </a>
            </div>
            <splitter></splitter>
            {% if view %}
            {% if view.img %}
                <img class="logotype" src="{{ view.img }}"/>
            {% endif %}
            {% if view.title %}
            <div class="header_item-text">
                {{ view.title }}
            </div>
            {% endif %}
            {% endif %}
        </div>

        <div class="header__menu">
            {% if user %}
            {% if user['is_authenticated'] %}
            <div class="header__menu-item">
                <a class="header__menu-item-link" href="{{ url_for('auth.logout') }}" style="text-decoration: none;color: #BFDDE0;">
                    {{_('Logout')}}
                </a>
            </div>
            {% else %}
            <div class="header__menu-item">
                <a class="header__menu-item-link" href="{{ url_for('auth.login') }}" style="text-decoration: none;color: #BFDDE0;">
                    {{_('Login')}}
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% if feedback %}
            <div class="header__menu-item">
                <a class="header__menu-item-link" href="{{ url_for('feedback.index') }}" style="text-decoration: none;color: #BFDDE0;">
                    {{_('Feedback')}}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container" id="container">
        {% block container %} {% endblock %}
        <div class="container-content">{% block container_content %} {% endblock %}</div>
    </div>

    <div id="wrapper" class="wrapper">
        {% block wrapper %} {% endblock %}
    </div>
    <div id="wrapper-notificator" class="wrapper">
        {% block wrapper_notificator %} {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>