<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Enterprise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <p id='head1' class='header'>Welcome to<br>Online-Enterprise</p>
    <p id='head2' class='header'>Just</p>
    <p id='head3' class='header'>Manage You Enterprise</p>
    <p id='head4' class='header'>simple all the time</p>
    <p id='head5' class='header'>Welcome to<br>Online-Enterprise</p>
    <div class="container-buttons">
    {% if current_user.is_authenticated %}
    <a href="/enterprises/"><button>Manage</button></a>
    {% else %}
    <a href="/auth/login/"><button>Log In</button></a>
    <a href="/auth/reg/"><button>Sign Out</button></a>
    {% endif %}
    </div>
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
</body>
</html>