{% extends 'web/base.html' %}

{% set title = 'Index' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block container_content %}
<form method="post" action="{{ url_for('web.query') }}">
    {{ form.csrf_token }}
    <div class="search-box">
        {{ form.text(autocomplete='off') }}
        <button type="submit">
            <img src="{{ url_for('static', filename='img/search.svg') }}"/>
        </button>
    </div>
</form>
{% endblock %}
