.editor-pre-container-data {

}

.editor-container-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}



.editor-container-data-check-box {
    min-width: 36px !important;
    -webkit-appearance: none;
    outline: none !important;
    background-color: white;
    border: 1px solid #E2E4E8;
    border-radius: 4px;
    position: relative;
    padding: 12px;
    cursor: pointer;
}

.editor-container-data-check-box:disabled {
    background-color: #EEF1F9;
    border: 1px solid #EEF1F9;
    cursor: default;
}

.editor-container-data-check-box:checked {
    background-color: #44EB99;
    border: 1px solid #44EB99;
}

.editor-container-data-check-box:not(:checked):hover {
    background-color: #EEEFF1;
}


.editor-container-data-check-box:checked::after {
    content: url(/app/static/img/check.svg);
    font-size: 19px;
    position: absolute;
}

/*
.editor-container-data-check-box:not(:checked)::after {
    background-image: url(/static/img/x.svg);
    font-size: 19px;
    position: absolute;
    background-size: 8px;
    width: 8px;
    height: 8px;
    content: "";
    top: 14px;
    left: 14px;
}
*/

.editor-container-data label {
    font-family: "SB Sans Interface Regular", "Roboto", sans-serif;
    margin-left: 2px;
    font-size: 20px;
}

.editor-container-data textarea {
    min-width: 100%;
    max-width: max-content;
    min-height: 10px;

    min-height: 36px;
    padding: 8px 12px;
    box-sizing: border-box;
    font-family: "SB Sans Interface Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #E2E4E8;
    border-radius: 8px;
    letter-spacing: 2px;
}

.editor-container-data select,
.editor-container-data input {
    min-width: 100%;
    max-width: max-content;
    min-height: 10px;

    min-height: 36px;
    padding: 8px 12px;
    box-sizing: border-box;
    font-family: "SB Sans Interface Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #E2E4E8;
    border-radius: 8px;
    letter-spacing: 1px;
}


.editor-container-data-error {
    color: #dc7d7d;
    text-align: end;
}

.editor-container-actions {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    flex-wrap: wrap;
}

.editor-container-actions a,
.editor-container-actions button
{
    min-width: 190px;
    padding: 8px 12px;
    width: max-content;
    color: #212121;
    background-color: #44EB99;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
    border: none;
    opacity: 1;
    cursor: pointer;
    outline: none;
    font-family: 'SB Sans Interface Regular', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.editor-container-actions a:hover,
.editor-container-actions button:hover {
    background: #3DE391;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.14),0px 2px 2px rgba(0,0,0,0.12),0px 1px 3px rgba(0,0,0,0.2);
}

button a {
    color: black;
    text-decoration: none;
}
